@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* body font */

body{
    font-family: 'Bangers', cursive;
}

/* navigation style  */

.container{
    
    margin: 0 auto;
    
} 
.heading{
    font-size: 25px;
}  
.navigation{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 5%;
    /* width: 100%; */
    
}

.list{
    display: flex
}
.list li{
    list-style: none;
    margin: 10px;
    font-size: 25px;
}
.list a{
    text-decoration: none;
    color: black;
    
}

 /* section styling */

 /* First Section  */

 .section-title{
    position: relative;
    color: transparent;
    font-size: 30px;
    
     
 }
 .section-title::before{
     content: 'Start Your Journey As A Influencer';
     position: absolute;
     top: 0;
     left: 0;
     color:dodgerblue ;
     animation: typing 4s linear infinite;
 }


  /* Title Animation */


 @keyframes typing{
     0%{
         content: 'S|';
     }
     2%{
         content:'St|'
     }
     4%{
         content:'Sta|'
     }
     6%{
         content:'Star|'
     }
     8%{
         content:'Start|'
     }
     10%{
         content:'Start Y|'
     }
     12%{
         content:'Start Yo|'
     }
     14%{
         content:'Start You|'
     }
     16%{
         content:'Start Your|'
     }
     18%{
         content:'Start Your J|'
     }
     20%{
         content:'Start Your Jo|'
     }
     22%{
         content:'Start Your Jou|'
     }
     24%{
         content:'Start Your Jour|'
     }
     26%{
         content:'Start Your Journ|'
     }
     28%{
         content:'Start Your Journe|'
     }
     30%{
         content:'Start Your Journey|'
     }
     32%{
         content:'Start Your Journey A|'
     }
     34%{
         content:'Start Your Journey As|'
     }
     36%{
         content:'Start Your Journey As A|'
     }
     38%{
         content:'Start Your Journey As A I|'
     }
     40%{
         content:'Start Your Journey As A In|'
     }
     42%{
         content:'Start Your Journey As A Inf|'
     }
     44%{
         content:'Start Your Journey As A Infl|'
     }
     46%{
         content:'Start Your Journey As A Influ|'
     }
     48%{
         content:'Start Your Journey As A Influe|'
     }
     50%{
         content:'Start Your Journey As A Influen|'
     }
     52%{
         content:'Start Your Journey As A Influenc|'
     }
     54%{
         content:'Start Your Journey As A Influence|'
     }
     56%{
         content:'Start Your Journey As A Influencer|'
     }
     57%,
     70%{
         content:'Start Your Journey As A Influencer|' ;
         
     }
     71%{
         content:'Start Your Journey As A Influence|' ;
         
     }
     72%{
         content:'Start Your Journey As A Influenc|' ;
         
     }
     73%{
         content:'Start Your Journey As A Influen|' ;
         
     }
     74%{
         content:'Start Your Journey As A Influe|' ;
         
     }
     75%{
         content:'Start Your Journey As A Influ|' ;
         
     }
     76%{
         content:'Start Your Journey As A Infl|' ;
         
     }
     77%{
         content:'Start Your Journey As A Inf|' ;
         
     }
     78%{
         content:'Start Your Journey As A In|' ;
         
     }
     79%{
         content:'Start Your Journey As A I|' ;
         
     }
     80%{
         content:'Start Your Journey As A|' ;
         
     }
     81%{
         content:'Start Your Journey As|' ;
         
     }
     82%{
         content:'Start Your Journey A|' ;
         
     }
     83%{
         content:'Start Your Journey|' ;
         
     }
     84%{
         content:'Start Your Journe|' ;
         
     }
     85%{
         content:'Start Your Journ|' ;
         
     }
     86%{
         content:'Start Your Jour|' ;
         
     }
     87%{
         content:'Start Your Jou|' ;
         
     }
     88%{
         content:'Start Your Jo|' ;
         
     }
     89%{
         content:'Start Your J|' ;
         
     }
     90%{
         content:'Start Your|' ;
         
     }
     91%{
         content:'Start You|' ;
         
     }
     92%{
         content:'Start Yo|' ;
         
     }
     93%{
         content:'Start Y|' ;
         
     }
     94%{
         content:'Start|' ;
         
     }
     95%{
         content:'Star|' ;
         
     }
     96%{
         content:'Sta|' ;
         
     }
     97%{
         content:'St|' ;
         
     }
     98%{
         content:'S|' ;
         
     }
     99%{
         content:'' ;
         
     }
     100%{
         content:'' ;
         
     }
     
}

/* First Section Styling */


.First-section{
    display: flex;
    margin-top: 50px;
    line-height: 30px;
}
.header{
    
    padding: 5%;
}
.header img{
    width: 100%;
}
.button{
    border-radius: 15px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    font-family: 'Bangers', cursive;
    font-size: 20px;
}
hr{
    margin-bottom: 30px;
}

/* Second Section style */

.second-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    
}
.second-section{
    display: grid;
    grid-template-columns: repeat(3,1.5fr);
    gap: 20px;
   align-items: center; 
    margin-top: 40px;
    padding: 40px;

}

   /* Box Aligning */
.box{
    
    height: 450px;
    width: 329px;
    object-fit: cover;
    padding: 10px;
    box-shadow: 3px 3px 7px lightslategray;
}
 .box img{
     width: 100%;
 }  
 .fa-star{
    color: gold;
 }
.pointer{
    display: flex;
    color: dodgerblue ;
    padding-right: 40px;
   justify-content: flex-end;
    
}



 /* Third-section style  */

 .third-section{
    display: flex;
    margin-top: 50px;
    line-height: 30px;
 }

/* Footer Styles */

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.icons{
    margin: 0 5px;
}
/* Media Queries */

@media only screen and  (max-width:688px) {
    .container{
        width: 100%;
    }
    .navigation{
       
        flex-wrap:wrap;
        
    }
    .First-section{
        flex-direction: column;
       
    }
    .second-section{
        grid-template-columns: repeat(1, 1fr)  ;
        text-align: center;
        
    }
    .third-section{
        flex-direction: column;
    }
   
}

    /* tablet devices */

@media only screen and (min-width:689px) and (max-width:991px) {
   
    
    .container{
        width: auto
    }
   .First-section{
      flex-wrap:nowrap;
   } 
   .second-section{
    grid-template-columns: repeat(2, 1fr)  ;
   }
}
   
